{% extends "base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}

    <article class="container">
        <div class="row">
            <div class="col s12 m12 l8 offset-l2">
                <h1>{{ article.title }}</h1>
                <img src="{{ asset('uploads/' ~ article.picture) }}" class="responsive-img">
                <p>
                <small>
                    {% for category in article.categories %}
                        <a href="">{{ category.label }}</a>
                    {% endfor %}
                </small>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l8 offset-l2">
                <p>
                    {{ article.content }}
                </p>
                <div class="fb-share-button" data-href="http://r301.antivackis.com/index.php/show/%7B%7B article.id }}" data-layout="button" data-size="small">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fr301.antivackis.com%2Findex.php%2Fshow%2F%257B%257B+article.id+%257D%257D&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share on facebook</a></div>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
    </article>
{% endblock %}